@charset "UTF-8";

@media (max-width: 1024px) {
    .imagem > img{
        width: 100%;
    }
    
    .hero .text{
        width: 60%;
    }

    .saibaMais_img1, .saibaMais_img2{
        display: none;
    }
    
    .cards{
        margin-bottom: 10vh;
    }

    .last{
        margin-top: 10vh;
    }

    .last .last_imgs{
        display: none;
    }

    .saibaMais .text{
        max-width: 700px;
        margin: auto;
    }

    footer{
        margin-top: 10vh;
    }
    
    footer .container-links{
        display: none;
    }
}

@media (max-width: 768px){

    .slider-wrapper{
        margin: 0 10px 40px;
    }
    
    .slider-wrapper .swiper-slide-button{
        display: none;
    }
    
    .last .blur{
        width: 291px;
        height: 257px;
        background: radial-gradient(circle, #4C930232 50%, transparent 80%);
        filter: blur(90px);
        top: -75%;
        left: -15%;
    }

    .cards .blur{
        display: none;
    }
    
    
    footer .direitos-autorais{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}

@media (max-width: 640px) {
    .hero{
        background-image: url(../images/hero_img.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 20vh;
    }
    
    .hero .imagem img{
        display: none;
    }
    
    .hero .blur{
        display: none;
    }
    
    .hero h1, .hero p{
        color: #FFF;
    }
}

@media (min-width: 1025px) and (max-width: 2100px) {

    .hero .hero_container .text{
        font-size: 1.3rem;
    }

    .hero_container{
        justify-content: center;
        align-items: center;
        column-gap: 10%;
    }

    .hero .text{
        width: 40%;
    }

    .saibaMais{
        margin-top: 50vh;
        justify-content: space-evenly;
        align-items: center;
        column-gap: 5%;
        position: relative;
    }

    .saibaMais .text{
        width: 30%;
        font-size: 1.3rem;
    }

    .saibaMais_img1{
        width: 310px;
        height: 302px;
    }
    
    .saibaMais_img2{
        width: 310px;
        height: 359px;
        position: absolute;
        top: -60%;
        left: 75%;
        z-index: 2;
    }

    .last{
        display: flex;
        justify-content: center;
        column-gap: 5%;
    }

    .last .last_imgs .last-img1{
        width: 310px;
        height: 284px;
        border-radius: 20px;
        transform: rotate(-11.9deg);
    }

    .last .last_imgs .last-img2{
        width: 220px;
        height: 271px;
        border-radius: 16px;
        position: absolute;
        left: 15%;
        bottom: -35%;
    }

    .last .form p{
        font-size: 1.3rem;
    }
}

@media (min-width: 1300px){

    .saibaMais .text{
        width: 40%;
    }

    .saibaMais_img1{
        width: 350px;
        height: 341px;
    }
    
    .saibaMais_img2{
        width: 350px;
        height: 405px;
    }
    .last .last_imgs .last-img1{
        width: 350px;
        height: 321px;
    }

    .last .last_imgs .last-img2{
        width: 250px;
        height: 309px;
    }
}