@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Tema Light como padrão */
    --cor01: #F5F5F5;
    --cor02: #323D26;
    --cor03: #81B153;
    --cor04: #333333;
    /*switch*/
    --trilho: #C5D8B1;
    --slider: linear-gradient(135deg, #20AF56 0%, #323D26 100%);
    --moon: #2D4A0F;
    --sun: #C5D8B1;
    /*detalhes*/
    --home: #3E5936;
    --siga_insta: #adadad;
}

/* Tema Dark quando a classe .dark-theme estiver ativa */
.dark-theme {
    --cor01: #272727;
    /* Fundo escuro (substitui cor01) */
    --cor02: #2D4A0F;
    /* Verde bem escuro (substitui cor02) */
    --cor03: #4C9302;
    /* Verde vivo (substitui cor03) */
    --cor04: #FFFFFF;
    /* Texto claro (substitui cor04) */
    /*switch*/
    --trilho: #D0FAA4;
    --slider: linear-gradient(135deg, #4C9302 0%, #323D26 100%);
    --moon: #C5D8B1;
    --sun: #2D4A0F;
    --home: #3E5936;
    --siga_insta: #d0d0d0;
}

strong{
    color: var(--cor03);
    font-weight: bold;
}

body {
    background-color: var(--cor01);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: normal;
}

.hero{
    margin-bottom: 20vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.header_detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    font-family: "Inter", sans-serif;
}

.header_detalhes :first-child {
    color: var(--home);
    font-weight: bold;
}

.header_detalhes :last-child {
    color: var(--siga_insta);
    cursor: pointer;
    font-weight: normal;
}

.header_detalhes :last-child:hover {
    color: var(--cor03);
}

.hero_container {
    margin-top: 10vh;
    display: flex;
    padding: 0 20px;
}

.hero h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--cor04);
    margin: 15px 0;
    font-size: 2.6em;
}

.hero p {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: var(--cor04);
    margin: 15px 0;
}

.navInterno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 52px;
    background-color: var(--cor02);
    padding: 20px;
    margin: 25px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color .4s;
}

.navInterno:hover {
    background-color: var(--cor03);
}

.navInterno p {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #FFFFFF !important;
}

.imagem>img {
    border-radius: 24px;
}

.hero .blur {
    width: 631px;
    height: 458px;
    background: radial-gradient(circle, #4C930232 10%, transparent 80%);
    filter: blur(40px);
    position: absolute;
    z-index: -1;
    top: 60%;
    right: 0;
}

.cards_h2_sup{
    font-size: 1rem;
    margin: 0 10px;
}

.saibaMais{
    margin-top: 10vh;
    display: flex;
    padding: 0 20px;
}

.saibaMais .text h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--cor04);
    margin: 15px 0;
    font-size: 2em;
}

.saibaMais .text p{
    font-family: 'Inter', sans-serif;
    color: var(--cor04);
}

.cards h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    color: var(--cor04);
    margin: 45px 9%;
}

.cards h3{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

.slider-wrapper_container-grid{
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr auto; /* Nome à esquerda, preço à direita */
    align-items: center;
    justify-content: space-between;
}

.cards{
    position: relative;
}

.cards .blur{
    width: 300px;
    height: 500px;
    background: radial-gradient(circle, #4C930232 50%, transparent 80%);
    filter: blur(40px);
    position: absolute;
    z-index: -1;
    top: 60%;
    right: 10%;
    transform: rotate(30deg);
}

.navExterno {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
    height: 52px;
    background-color: var(--cor03);
    padding: 20px;
    margin: 25px 0;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
    border: none;
}

.navExterno:hover {
    background-color: #76c126;
    transform: translateY(-8px);
}

.last{
    position: relative;
    margin-top: 30vh;
}

.last .form{
    position: relative;
}

.last .form h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: var(--cor04);
    margin: 15px 9%;
    font-size: 2em;
}

.last .form p{
    font-family: 'Inter', sans-serif;
    color: var(--cor04);
}

.last .form .form_data-caption{
    color: #fff;
    font-size: 1.25rem;
    display: block;
    margin: 25px auto;
    padding: 20px;
    width: 80%;
    max-width: 516px;
    height: 50px;
    background-color: var(--cor02);
    border-radius: 8px;
    border: none;
}

.last .form h2{
    text-align: center;
}

.last .form p{
    display: block;
    margin: 20px auto 50px;
    width: 80%;
}

.last .form .form_data-caption::placeholder{
    color: rgba(255, 255, 255, 0.7);
}

#btn_form_data-caption{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.last .blur{
    width: 500px;
    height: 442px;
    background: radial-gradient(circle, #4C930232 50%, transparent 80%);
    filter: blur(40px);
    position: absolute;
    z-index: -1;
    top: -75%;
    left: -15%;
}

footer{
    color: var(--cor04);
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 30vh;
    padding: 25px;
}

footer .container-links{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

footer ul{
    list-style-type: none;
}

footer ul li{
    margin-bottom: 15px;
}

footer ul li:hover{
    color: var(--cor03);
}

footer a{
    color: var(--cor04);
}

footer a:hover{
    color: var(--cor03);
}

footer ul li a{
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 10px;
}

footer .direitos-autorais{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-top: 20vh;
}

footer .direitos-autorais a{
    margin-left: 35px;
}